/*
 Meta-data information
*/

manifest {
	description = 'This pipeline processes raw RNA-seq data in allele-specific manner to generate read count tables and signal tracks.'
	mainScript = '/omics/groups/OE0538/internal/users/panten/projects/AntoniaESCProject/asRNA_pipelines/allele-specific_RNA-seq/allele-specific_RNA-seq.nf'
	nextflowVersion = '20.04.1'
	version = '0.0.2'
	author = 'Yuvia A. PEREZ RICO'
}

/*
 Initialize parameters
*/

params {
    sampleInfo = "/omics/groups/OE0538/internal/users/panten/projects/AntoniaESCProject/invivo_data/sampleDescription.txt"
	chunkSize = 5000000
	G1 = 'C57BL-6J'
	G2 = 'JF1_MSJ'
    outDir = "/omics/groups/OE0538/internal/users/panten/projects/AntoniaESCProject/invivo_data/processed_data_rtta/"
    genomeDirPath = "/omics/groups/OE0538/internal/users/panten/projects/genome_files/star_indices/B6_masked_JF1_rtta/"
    annotations = "/omics/groups/OE0538/internal/users/panten/projects/genome_files/genome_fastas/GRCm39/gtf/Mus_musculus.GRCm39.109.rtta.gtf"
    snpFile = "/omics/groups/OE0538/internal/users/panten/projects/AntoniaESCProject/invivo_data/scripts/all_SNPs_JF1_MsJ_GRCm38.txt.gz"
    rsTPM = "/omics/groups/OE0538/internal/users/panten/projects/AntoniaESCProject/asRNA_pipelines/allele-specific_RNA-seq/bin/TPM_normalization_allelic.R"
	TXline = 'yes'
    tmpOutDir = "/omics/groups/OE0538/internal/users/panten/projects/AntoniaESCProject/invivo_data/temp/"
	numCPUs = 10
	numCPUs_Dtools = 20
}

/*
 Set process requirements
*/

process {
    executor = "lsf"
    scratch = "/omics/groups/OE0538/internal/users/panten/projects/AntoniaESCProject/invivo_data/temp/scratch/"
	memory = 50.GB
	time = 2000.m
	cpus = 1

	withName: get_program_versions {
		memory = 100.MB
		time = 300.s
	}

	withLabel: fastq_splitting {
		memory = 100.GB
		time = 180.m
	}

	withLabel: filter_bams {
		memory = 10.GB
		time = 15.m
	}

	withLabel: process_bams {
		memory = 90.GB
		time = 90.m
	}

	withLabel: count_factor {
		memory = 5000.MB
	}

	withLabel: signal_tracks {
		cpus = 1
		time = 50.m
		memory = 40.GB
	}

	withName: fastq_quality {
		cpus = "${params.numCPUs}"
		time = 120.m
		memory = 30.GB
	}

	withName: trim_reads {
		memory = 1.GB
	}

	withName: read_mapping {
		cpus = "${params.numCPUs}"
		memory = 400.GB
		time = 50.m
	}

	withName: SNPsplit {
		memory = 150.GB
		time = 30.m
	}

	withName: sort_unassigned_bams {
		time = 1500.m
		memory = 30.GB
	}

	withName: merge_mapped {
		memory = 100.GB
		time = 80.m
	}

}
